.body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  height: 60.7vh;
  margin-top: 10vh;
  font-family: 'Poppins';
}

.dimensiones, .semaforo {
  width: 100%;
}

.dimensiones {
  display: flex;
  flex-direction: column;
}

.fila-dimensiones {
  display: flex;
  height: 30%;
  align-items: center;
  justify-content: space-around;
  padding-left: 10%;
  padding-right: 10%;
}

.fila-dimensiones:last-child {
  justify-content: space-evenly;
}

.fila-dimensiones img {
  width: 80%;
  height: auto;
  object-fit: cover;
  max-width: 100%;
  box-sizing: border-box;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.fila-dimensiones img.subiendo {
  transform: translateY(-20px);
  opacity: 0;
}

.fila-dimensiones img.mostrando {
  opacity: 1;
}

.fila-invisible {
  display: none;
}

.fila-invisible.visible {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.mensaje-dimension {
  width: 35vw;
  position: absolute;
  font-size: 16px;
  font-weight: regular;
  padding: 10px;
  color: #ffff;
  background-color: #9b7853;
  border-radius: 5px;
  margin-top: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}

.mensaje-dimension img.imagen-mensaje {
  font-family: 'Poppins';
  height: fit-content;
  width: auto;
  margin-right: 10px;
}

.mensaje-dimension p {
  margin: 0;
  font-size: 16px;
  color: #ffff;
  text-align: center;

}

.botones-dimension {
  display: table;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  height: 30%;
  padding: 10px;
  gap: 10px; /* Espacio entre botones */
}

.boton-dimension {
  display: table-cell;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto; /* No crecer, no encogerse, tamaño automático */
  max-height: 80px; /* Ajusta esto según el tamaño deseado */
}