.body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  height: 60.7vh;
  margin-top: 10vh;
  font-family: 'Poppins';
}

.dimensiones, .semaforo {
  width: 100%;
}

.dimensiones {
  display: flex;
  flex-direction: column;
}

.fila-dimensiones {
  display: flex;;
  height: 40%;
  align-items: center;
  justify-content: space-around;
  padding-left: 10%;
  padding-right: 10%;
}


.fila-dimensiones:last-child {
  justify-content: space-evenly;
  padding-left: 20%;
  padding-right: 20%;
}

.fila-dimensiones img {
  width: 80%; 
  height: auto; 
  object-fit: cover; 
  max-width: 100%; 
  box-sizing: border-box;
}


.fila-dimensiones img {
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.fila-dimensiones img.subiendo {
  transform: translateY(-20px); /* Mueve la imagen hacia arriba */
  opacity: 0; /* Hace que la imagen desaparezca gradualmente */
}

.fila-dimensiones img.mostrando {
  opacity: 1; /* Vuelve a mostrar la imagen */
}

/* Ocultar los divs invisibles */
.fila-invisible {
  display: none;
}

.fila-invisible.visible {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.mensaje-dimension {
  width: 35vw; /* Ocupa todo el ancho debajo de los botones */
  text-align: center;
  position: absolute;
  font-size: 16px;
  padding: 10px;
  color: #ffff;
  background-color: #9b7853;
  border-radius: 5px;
  top:50%;
  display: flex;
}

.mensaje-dimension img.imagen-mensaje {
  font-family: 'Poppins';
  height: fit-content;
  width: auto;
  margin-right: 10px;
}

.mensaje-dimension p {
  margin: 0;
  font-size: 16px;
  color: #ffff;
}
