.header {
  background-color: #384a60;
  padding: 15px 30px;
  font-family: "Poppins";
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins";
}

#logo {
  width: 35%;
  font-family: "Poppins";
}

h1 {
  margin: 0;
  font-size: clamp(15px, 2vw, 18px);
  color: #ffff;
  font-family: "Poppins";
  font-weight: 700;
}

.acciones {
  position: relative;
  font-size: clamp(10px, 1vw, 18px);
  cursor: pointer;
  color: #fff;
  font-family: "Poppins";
  font-weight: 700;
  margin: 0 25px;
}
