.header {
  background-color: #384a60;
  padding: 15px 30px;
  font-family: "Poppins";
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins";
}

#logo {
  height: 7vh;
  font-family: "Poppins";
}

h1 {
  margin: 0;
  font-size: 250%;
  color: #ffff;
  font-family: "Poppins";
  font-weight: 700;
}